name: Build and Test

on:
  workflow_call:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    
    steps:
    # Checkout source code
    - uses: actions/checkout@v3
    
    # Setup .Net
    - name: Set up .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
        
    # Restore dependencies
    - name: Restore
      run: dotnet restore
    
    # Build
    - name: Build
      run: dotnet build --configuration Release
    
    # Test
    - name: Test
      run: dotnet test