name: Build and Push Docker Image

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      dockerfile_path:
        required: false
        type: string
        default: "./Dockerfile"
    outputs:
      image_tag:
        description: "The tag of the built Docker image"
        value: ${{ jobs.docker_build.outputs.image_tag }}

jobs:
  docker_build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.image_tag.outputs.value }}

    steps:
    # Checkout source code
    - uses: actions/checkout@v3

    # Generate image tag
    - name: Generate image tag
      id: image_tag
      run: echo "value=${{ github.sha }}" >> $GITHUB_OUTPUT

    # Setup Docker Buildx
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v2

    # Login to Azure Container Registry
    - name: Login to Azure Container Registry
      uses: docker/login-action@v2
      with:
        registry: ${{ vars.AZURE_CONTAINER_REGISTRY }}.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    # Build and push Docker image
    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ${{ inputs.dockerfile_path }}
        push: true
        tags: ${{ vars.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ inputs.image_name }}:${{ steps.image_tag.outputs.value }}

    # Echo image digest
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}